.youtube-card {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    /* background-color: #333; */
    font-family: Arial, sans-serif;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    margin-bottom: 20px;
}

.thumbnail {
    width: 100%;
    display: block;
}

.top-bar{
  display: flex;
  gap: 5px;
}
.avatar{
  width: 20%;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar-card{
  width: 100%;
  height: 50px;
}
.content {
    padding: 15px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.channel-info {
    display: flex;
    align-items:start;
    flex-direction: column;
    width: 80%;
}

.channel-picture {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
}

.text {
    font-size: 14px;
}

.views {
    color: #aaa;
}
